// ### Primary

$color-primary-cyan: hsl(172, 67%, 45%);

// ### Neutral

$color-very-dark-cyan: hsl(183, 100%, 15%);
$color-grayish-cyan: hsl(186, 14%, 43%);
$color-dark-grayish-cyan: hsl(184, 14%, 56%);
$color-light-cyan: hsl(185, 41%, 84%);
$color-light-grayish-cyan: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);
