@media (min-width: 700px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .btn--tip {
    &:hover {
      &:hover {
        background-color: $color-light-cyan;
        color: $color-very-dark-cyan;
      }
    }
  }

  .input {
    padding: 0.2rem;
  }
  .group .input--placeholder {
    top: 1.6rem;
  }

  .app {
    max-width: 900px;
    margin: 0 auto;
    display: flex;

    .left {
      width: 50%;
      margin-right: 2rem;
      .tips {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    .right {
      width: 50%;
      padding: 1.1rem;

      &--row {
        margin-bottom: 2rem;
      }

      .btn--reset {
        margin-top: 30%;
      }
    }
  }
}
